.container-carts {
  background-color: #595959;
}

.container-carts {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 768px) {
    .col-sm-push-0 {
      left: auto;
    }
    .cart-panel>.steps>hr {
      top: 33px!important;
    }
    .cart-main>.cart-content {
      margin-right: 2px;
      margin-left: -2px;
    }
  }
  @media (max-width: 768px) {
    .hidden-xs {
      display: none !important;
    }
    .visible-xs-inline-block {
      display: inline-block !important;
    }
  }

  .container {
    background-color: #ffffff;
  }

  .cart-panel>.steps {
    position: relative;
    padding-bottom: 20px;
  }
  .cart-panel>.steps>section.row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body .row {
    margin-left: 0;
    margin-right: 0;
  }
  .cart-panel>.steps>section.row>[class^="col-"].view-cart {
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
  .cart-panel>.steps>section.row>[class^="col-"] {
    color: #9c9c9c;
    font-weight: bold;
    text-align: center;
  }

  .cart-panel>.steps>section.row>[class^="col-"]>div.shopping {
    height: 29px;
    width: 38px;
    background: url("./../../images/Product/Cart-image.png") -7px -65px no-repeat;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>div {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>div.payment {
    height: 29px;
    width: 47px;
    background: url("./../../images/Product/Cart-image.png") -69px -114px no-repeat;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>div.checkout {
    height: 27px;
    width: 32px;
    background: url("./../../images/Product/Cart-image.png") -70px -162px no-repeat;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>div.circle-active {
    height: 28px;
    width: 28px;
    background: url("./../../images/Product/Cart-image.png") -5px -21px no-repeat;
    position: relative;
    z-index: 2;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>div.circle {
    height: 28px;
    width: 22px;
    background: url("./../../images/Product/Cart-image.png") -50px -20px no-repeat;
    position: relative;
    z-index: 2;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>div.circle {
    height: 28px;
    width: 22px;
    background: url("./../../images/Product/Cart-image.png") -50px -20px no-repeat;
    position: relative;
    z-index: 2;
  }

  .cart-panel>.steps>hr {
    border: 2px solid gray;
    margin-left: 10%;
    position: absolute;
    width: 80%;
    z-index: 1;
    top: -7px;
  }
  .cart-panel>.steps>section.row>[class^="col-"]>span.active {
    color: #464646;
  }

  .cart-panel>.steps>.description {
    background-color: #be1e2d;
    font-size: medium;
    margin: 10px 10%;
    padding: 10px;
  }
  .cart-panel>.steps>.description>span, .cart-panel>.steps>.description b {
    color: #fff;
  }

  .cart-empty {
    font-size: x-large;
    padding: 50px 0;
  }

  p {
    margin: 0 0 10px;
  }
  .cart-empty >p{
    font-size: x-large;
    color: #000;
  }
  .btn-ibp-red {
    background-color: #be1e2d;
    color: #fff;
  }
  .btn-ibp-red:hover, .btn-ibp-red:focus {
    background-color: #872823;
    color: #fff;
  }

  .cart-main {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cart-content {
    margin-bottom: 10px;
  }

  .cart-items>.item[ng-repeat] {
    border: 1px solid #929292;
    border-radius: 4px;
    padding: 20px 10px 20px;
    margin-bottom: 10px;
  }
  .cart-items>.item[ng-repeat]>.title>h5 {
    color: #000;
    font-weight: bold;
    background: url("./../../images/Product/CorsairSpecAlphaBlkRed_Main_400_.png");
  }

  .quantity {
    .spinner {
      width: 100px;
    }
    .spinner input {
      text-align: right;
    }
    .input-group-btn-vertical {
      position: relative;
      white-space: nowrap;
      width: 1%;
      vertical-align: middle;
      display: table-cell;
    }
    .input-group-btn-vertical > .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-left: -1px;
      position: relative;
      border-radius: 0;
    }
    .input-group-btn-vertical > .btn:first-child {
      border-top-right-radius: 4px;
    }
    .input-group-btn-vertical > .btn:last-child {
      margin-top: -2px;
      border-bottom-right-radius: 4px;
    }
    .input-group-btn-vertical i{
      position: absolute;
      top: 0;
      left: 4px;
    }
    .fa-caret-down {
      display: inline;
    }
    .fa-caret-up {
      display: inline;
    }
  }

  .detail>.quantity {
    display: flex;
    margin-bottom: 10px;
    float: left;
  }

  .quantity>label {
    color: #8d8d8d;
  }

  .detail>.clearfix>label {
    margin-top: 5px;
  }

  .detail>.clearfix>* {
    float: left;
    font-size: medium;
    width: 50%;
  }

  .ui-spinner {
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
  }

  .ui-corner-all {
    border-radius: 4px;
  }

  .cart-content .item .save {
    display: none;
  }

  .detail>.clearfix.save>span {
    color: #be1e2d;
    margin-top: 5px;
  }

  .detail>.clearfix.total-price>span {
    color: #000;
    font-weight: bold;
    font-size: x-large;
  }

  .detail>.clearfix {
    margin-bottom: 10px;
  }

  .detail>.clearfix.total-price>label {
    color: #8d8d8d;
  }

  .detail>.clearfix.affirm-price>label {
    color: #8d8d8d;
  }

  .detail>.clearfix.affirm-price>label span {
    color: #be1e2d;
    font-weight: bold;
    font-size: x-large;
  }

  .detail>.clearfix.affirm-price>label span {
    color: #be1e2d;
    font-weight: bold;
    font-size: x-large;
  }

  .affirm-image {
    background: url("./../../images/Product/Affirm-Mockups-final_gray.png") no-repeat;
    width: 65px;
    height: 26px;
    background-size: contain;
    display: block;
    cursor: pointer;
  }

  .detail>.warring>div {
    width: 100%;
  }

  .extend {
    padding-left: 4px;
    padding-right: 4px;
  }

  .extend>.command>.pc-name {
    color: #000;
    float: left;
    font-weight: bold;
    max-width: 80%;
    padding-top: 5px;
  }

  .extend>.command>.pc-modify {
    float: right;
  }

  .extend>.command>.pc-modify>.btn {
    font-size: medium;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .btn-ibp-gray {
    background-color: #bbb;
    color: #000;
  }

  .btn-ibp-red {
    background-color: #be1e2d;
    color: #fff;
  }

  .warranty {
    border: 2px solid #c9c9c9;
    border-radius: 4px;
    padding: 15px 15px;
    margin-top: 10px;
  }

  .warranty>.warranty-header {
    margin-bottom: 10px;
  }

  .warranty>.warranty-header>div {
    float: left;
  }

  .warranty>.warranty-header>div>span {
    color: #141414;
    font-weight: bold;
    margin-left: 10px;
  }

  .warranty>.warranty-header>img.warranty-box {
    cursor: help;
    float: right;
    background: no-repeat;
  }

  .warranty>.warranty-body>.upgrade-text {
    color: #000;
    margin-bottom: 10px;
  }

  .warranty>.warranty-body>div[warranty-picker] {
    margin-bottom: 10px;
  }

  .warranty>.warranty-body>div[warranty-picker]>div.bootstrap-select>.btn {
    background-color: #f7f7f7;
    white-space: pre-line;
  }

  .row>.cart-items>.item[ng-repeat] {
    border: 1px solid #929292;
    border-radius: 4px;
    padding: 20px 10px 20px;
    margin-bottom: 10px;
  }

  .btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
  }

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
  }

  .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
    width: 100%;

  }

  .bootstrap-select {
    width: 220px \0;
  }

  .text-muted {
    font-weight: bold;
    margin: 3px 0 1px;
    color: #777;
  }

  .warranty>.warranty-body>div[warranty-picker]>div.bootstrap-select>.btn {
    white-space: pre-line;
  }

  .btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
  }

  .btn .caret {
    margin-left: 0;
  }

  .bootstrap-select>.btn {
    background-color: #f7f7f7;
    white-space: pre-line;
    background-image: none;
  }

  .item {
    border: 1px solid #929292;
    border-radius: 4px;
    padding: 20px 10px 20px;
    margin-bottom: 10px;
  }

   .point {
    display: none;
  }

  .point {
    background-color: #efefef;
    border: 1px solid #949494;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 10px 10px;
  }

  .point>.header>label {
    vertical-align: text-top;
  }

  .label-warning {
    background-color: #f0ad4e;
  }

  .point>.header>span {
    color: #000;
    font-size: large;
    font-weight: bold;
  }
  .point>.header>.word {
    color: #be1e2d;
    font-size: x-large;
  }
  .coupon {
    background-color: #efefef;
    border: 1px solid #949494;
    border-bottom-width: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 10px;
  }
  .coupon>.title {
    color: #000;
    font-size: x-large;
    font-weight: bold;
  }
  .coupon>form>h5 {
    color: #000;
  }
  h5, .h5 {
    font-size: 14px;
  }
  .coupon>form>input {
    border: 1px solid #8a8a8a;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: large;
    margin-right: 2px;
    margin-left: -2px;
    text-align: center;
  }
  .coupon>form>.btn-submit {
    font-size: medium;
    margin-left: 2px;
    margin-right: -2px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  .coupon>.info>.footer>p {
    margin: 10px 0;
  }
  .coupon>.info>.footer * {
    color: #be1e2d;
  }

  .shipping {
    background-color: #efefef;
    border-color: #949494;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 10px 10px;
  }
  .shipping>.title {
    color: #000;
    font-size: medium;
    font-weight: bold;
  }
  .shipping>.desc {
    color: #000;
    font-size: medium;
  }
  .shipping>.ship-to>h5 {
    color: #000;
  }
  .shipping>.ship-to>select {
    color: #000;
  }
  .shipping>.ship-to>select>option {
    color: #000;
  }

  .shipping>.shipping-fee {
    margin: 10px 0;
  }
  .shipping>.shipping-fee>span {
    color: #000;
  }
  .subtotal, .you-saved {
    background-color: #efefef;
    border-color: #949494;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 20px 10px;
    font-size: large;
  }
  .subtotal>label, .you-saved>label {
    color: #000;
  }
  .subtotal>span:nth-last-child(1), .you-saved>span:nth-last-child(1) {
    float: right;
    font-weight: bold;
  }
  .subtotal>span, .you-saved>span {
    color: #000;
  }
  .next {
    background-color: #efefef;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #949494;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 10px 10px;
  }
  .next>.estimated-total {
    font-size: large;
    padding: 10px 0;
  }
  .next>.estimated-total>label {
    color: #000;
  }
  .next>.estimated-total>span {
    color: #000;
    float: right;
    font-weight: bold;
  }
  .next>.affirm-estimated-total {
    font-size: large;
    padding: 10px 0;
  }
  .next>.affirm-estimated-total>label {
    color: #259fea;
  }
  .next>.affirm-estimated-total>label:last-child {
    float: right;
  }
  .next>.affirm-estimated-total>label:last-child span {
    color: #259fea;
    font-weight: bold;
  }

  .affirm-image {
    background-image: url("./../../images/Product/Affirm-Mockups-final_gray.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 26px;
    background-size: contain;
    display: block;
    cursor: pointer;
  }
  .next>.btn-next {
    color: #fff;
    font-size: medium;
    margin-bottom: 15px;
    width: 100%;
  }
  .btn-ibp-blue {
    background-color: #3cb1e3;
    color: #fff;
  }
  .next>.btn-cancel {
    border-color: #7f7f7f;
    color: #000;
    font-size: medium;
    margin-bottom: 15px;
    white-space: pre-line;
    width: 100%;
  }
  .btn-ibp-gray {
    background-color: #bbb;
    color: #000;
  }
  .btn-ibp-blue:hover, .btn-ibp-blue:focus {
    background-color: #259fea;
    color: #fff;
  }
  .btn-ibp-gray:hover, .btn-ibp-gray:focus {
    background-color: #a1a1a1;
    color: #000;
  }

  .detail {
    padding-left: 4px;
    padding-right: 4px;
  }

  .cart-content .item .price {
    display: none;
  }
}
