html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #833;
}

div#main {
  margin: 0 auto;
  width: 750px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.gallery {
  background: #EEE;
  overflow: hidden;
}

.gallery-cell {
  display: inline-block;
  height: 100vh;
  img {
    border-left: 2px solid #444;
    height: 100%;
  }
}