.support_page {
  p {
    margin: 0 0 10px;
  }
  .img_support_banner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .support_content {

    .top_pic {
      a{
        width: 210px;
        display: block;
        margin: 0 auto;
        padding: 7px;
      }
      .btn-red{
        background-color: #be1e2d;
        color: #fff;
      }
      .round {
        background-color: #9f9f9f;
        display: block;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 15px;
        position: relative;
        width: 150px;
      }
      .info_area{
        margin: 20px 35px;
        background-color: #eee;
        border-radius: 7px;
        padding: 15px;
      }
      .info_area{
        .title{
          color: #000;
          font-size: x-large;
          text-align: left;
          font-weight: bold;
        }
        .content_of_title{
          font-size: medium;
        }
        a{
          color:#be1e2d;
          text-decoration:none;
        }
        .intel-banner{
          background-color: white;
          height: 76px;
          margin-left: -242px;
        }
      }
      .img-circle {
        border-radius: 50%;
      }
      .round {
        .order-status {
          position: absolute;
          background: url(../../images/OtherPage/Support/1_400.png) no-repeat -29px -25px;
          width: 105px;
          height: 105px;
          top: 24px;
          left: 23px;
        }
        .driver-download {
          position: absolute;
          background: url(../../images/OtherPage/Support/1_400.png) no-repeat -168px -25px;
          width: 79px;
          height: 97px;
          top: 23px;
          left: 35px;
        }
        .warranty {
          position: absolute;
          background: url(../../images/OtherPage/Support/1_400.png) no-repeat -280px -31px;
          width: 93px;
          height: 93px;
          top: 30px;
          left: 30px;
        }
        .faq {
          position: absolute;
          background: url(../../images/OtherPage/Support/1_400.png) no-repeat -32px -152px;
          width: 95px;
          height: 88px;
          top: 30px;
          left: 30px;
        }
        .shipping-details {
          position: absolute;
          background: url(../../images/OtherPage/Support/1_400.png) no-repeat -149px -148px;
          width: 104px;
          height: 102px;
          top: 25px;
          left: 18px;
        }
        .rebate-center {
          position: absolute;
          background: url(../../images/OtherPage/Support/1_400.png) no-repeat -283px -151px;
          width: 116px;
          height: 88px;
          top: 27px;
          left: 18px;
        }
      }
    }
    //Close top-pic

    .support_info {
      .contact-block {
        padding: 15px;
      }
      .contact-block{
        .title {
          color: #000;
          font-size: 22px !important;
          text-align: left;
          font-weight: bold;
        }
        a{
          color: #be1e2d;
        }
      }
    }
    //Close support_info

  }
}
